/* 
    ////////////////////////////////////////////////////////////////////
        Import Custom Fonts
    ////////////////////////////////////////////////////////////////////
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Fira Sans';
}

/* 
    ////////////////////////////////////////////////////////////////////
        Minimalist Login Form
    ////////////////////////////////////////////////////////////////////
*/

/* Narrow the login form */
#loginPage .readOnlyContent, #loginPage form {max-width: 22em;}

/* Hide "please login" text, margin is to prevent login form moving too far up */
#loginPage h1 {display: none}
#loginPage .padded-left.padded-right.padded-bottom-page {margin-top: 50px}

/* Hide "manual" and "forgot" buttons */
#loginPage .raised.cancel.block.btnManual.emby-button {display: none}
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {display: none}

/* 
    ////////////////////////////////////////////////////////////////////
        Main Colors
    ////////////////////////////////////////////////////////////////////
*/

 /* Top Left Icons */
span.material-icons.arrow_back, span.material-icons.home, span.material-icons.menu {
    color: #f8f8f2;
}

/* Top Right Icons */
span.material-icons.sync_disabled, span.material-icons.sync_enabled, span.material-icons.cast, span.material-icons.search, span.material-icons.person {
  color: #f8f8f2;
}

 /* Background Color */
.backgroundContainer, .dialog, html { background-color: #282a36; }

 /* Drawer Color */
.skinHeader, .mainDrawer, .emby-input, .emby-textarea, .emby-select, .navMenuOption-selected, .cardBox, .paperList { background: #282828; }

 /* Console Panel Color */
.mainDrawer-scrollContainer { color: #f8f8f2; }

 /* General Page Custom Color */
.dashboardGeneralForm { color: #f8f8f2; }

/* Record/Record Series Icon Color */
span.material-icons.recordingIcon.fiber_manual_record, span.material-icons.recordingIcon.fiber_smart_record {
  color: #ff5555;
}

/* 
    ////////////////////////////////////////////////////////////////////
        Guide Colors
    ////////////////////////////////////////////////////////////////////
*/

 /* Guide - Date Active Color */
button.emby-tab-button.guide-date-tab-button.emby-button.emby-tab-button-active {
    color: #fcfcfc;
}

 /* Guide - Date Color */
button.emby-tab-button.guide-date-tab-button.emby-button {
    color: #fcfcfc75;
}

 /* Guide - New Notification Color */
span.newTvProgram.guideProgramIndicator, div.mediaInfoProgramAttribute.mediaInfoItem.newTvProgram { 
    background-color: #50fa7b;
    color: #44475a;
}

 /* Guide - Play Button Color */
button.raised.btnPlay.block.formDialogFooterItem.button-submit.emby-button {
   background-color: #8be9fd; 
   color: #44475a;
}

 /* Guide - Channel Cell Color */
button.guide-channelHeaderCell.itemAction {
    background-color: #6272a4;
}

 /* Guide - Inactive Program Color */
button.programCell.itemAction {
    background-color: #44475a;
}

 /* Guide - Empty Program Color */
div.channelPrograms {
    background-color: #1d202175;
}

/*Size episode preview images in a more compact way*/
.listItemImage.listItemImage-large.itemAction.lazy {height: 110px;}
.listItem-content {height: 115px;}
.secondary.listItem-overview.listItemBodyText {height: 61px; margin: 0;}

