 /* Top Left Icons */
span.material-icons.arrow_back, span.material-icons.home, span.material-icons.menu {
    color: #a89984;
}

 /* Background Color */
.backgroundContainer, .dialog, html { background-color: #504945; }

 /* Drawer Color */
.skinHeader, .mainDrawer, .emby-input, .emby-textarea, .emby-select, .navMenuOption-selected, .cardBox, .paperList { background: #282828; }

 /* Right Header Color */
.headerRight { color: #a89984; }

 /* Console Panel Color */
.mainDrawer-scrollContainer { color: #a89984; }

 /* General Page Custom Color */
.dashboardGeneralForm { color: #a89984; }



/* Minimalist Login Form */

/* Narrow the login form */
#loginPage .readOnlyContent, #loginPage form {max-width: 22em;}

/* Hide "please login" text, margin is to prevent login form moving too far up */
#loginPage h1 {display: none}
#loginPage .padded-left.padded-right.padded-bottom-page {margin-top: 50px}

/* Hide "manual" and "forgot" buttons */
#loginPage .raised.cancel.block.btnManual.emby-button {display: none}
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {display: none}



 /* Guide - Date Active Color */
button.emby-tab-button.guide-date-tab-button.emby-button.emby-tab-button-active {
    color: #fcfcfc;
}

 /* Guide - Date Color */
button.emby-tab-button.guide-date-tab-button.emby-button {
    color: #fcfcfc75;
}

 /* Guide - New Notification Color */
span.newTvProgram.guideProgramIndicator, div.mediaInfoProgramAttribute.mediaInfoItem.newTvProgram { 
    background-color: #689d6a;
    color: #fff;
}

 /* Guide - Play Button Color */
button.raised.btnPlay.block.formDialogFooterItem.button-submit.emby-button {
   background-color: #458588; 
   color: #fff;
}

 /* Guide - Channel Cell Color */
button.guide-channelHeaderCell.itemAction {
    background-color: #665c54;
}

 /* Guide - Inactive Program Color */
button.programCell.itemAction {
    background-color: #928374;
}

 /* Guide - Empty Program Color */
div.channelPrograms {
    background-color: #1d202175;
}

/*Size episode preview images in a more compact way*/
.listItemImage.listItemImage-large.itemAction.lazy {height: 110px;}
.listItem-content {height: 115px;}
.secondary.listItem-overview.listItemBodyText {height: 61px; margin: 0;}

